.header {
    height: 80px;
    background-color: #3fbcfd;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 60px;
}

@media screen and  (max-width: 750px) {
    .header {
        padding-right: 0;
        justify-content: center;
    }
}