
.workBlock {
    min-height: 100vh;
    background-color: #f1c3fd;
}
.worksContainer {
    flex-direction: column;
    justify-content: flex-start;
}
.works {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.title {
    background-color: lightgrey;
}

@media (max-width: 750px) {
    .works {
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
    }
}