.skillsBlock {
    min-height: 100vh;
    background-color: #68fd7f;
}
.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}
.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title {
    background-color: #f0f6fd;
}

@media (max-width: 627px) {
    .skills{
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
}